services:
  mongo:
    logging:
      driver: "none"
    image: mongo:6
    container_name: gaz_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test:
        ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 }).ok"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    logging:
      driver: "none"
    image: redis:7
    container_name: gaz_redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "no"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: dev
    container_name: gaz_api
    env_file:
      - ./.env.docker
    ports:
      - "4000:4000"
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ../:/app
      - /app/node_modules
    command: yarn start:dev

volumes:
  mongo_data:
